.title {
	text-align: center;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 100;  
  position: relative;
  top: 60px;
  margin-right: 460px;
  margin-left: 460px;
}
.title-description{
	text-align: center;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
  position: relative;
  top: 50px;
  margin-right: 460px;
  margin-left: 460px;
  background: linear-gradient(to right, gold 0%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Picture {
  position: absolute;
  top: 0px;
}

.cincypic {
  position: absolute;
  top:  0px;
  left:  1100px;
}

.purduepic {
  position: absolute;
  top:  300px;
  left:  1120px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #F0FFFF;

  position: absolute;
  top: 0;
  margin-right: 460px;
  margin-left: 460px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  transition: 0.3s;
  font-size: 20px;

  position: sticky;
  top: 30px;
}

.tab button:hover {
  background-color: #b3dbff;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  position: relative;
  top: 70px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent{
	animation: fadeEffect 1s;
}



#Contact{
	font-family: 'Lato', sans-serif;
}

@keyframes fadeEffect{
	from{opacity: 0;}
	to{opacity: 1;}
}

.indent{
  margin-left: 50px;
  inline-size: 400px;
  overflow-wrap: break-word;
}


.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

.gameDescription{
    text-align: center;
    margin-right: 50px;
    top: 70px;
    overflow-wrap: break-word;
}

#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
}

.animate{
    animation: jump 0.3s linear;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}

.score{
    text-align: center;
}



.arrow{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #423517;
    border-right: 5px solid #423517;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}


@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

